<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启全局延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <environments default="ee111">
        <!--配置的环境主要是数据源有关的内容-->
        <environment id="ee111">
            <!--配置事务管理器, 此处暂时使用固定的内置配置-->
            <transactionManager type="JDBC"></transactionManager>
            <!--配置数据源, 此处暂时使用固定的内置配置-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///ee111"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!--注册映射文件-->
    <mappers>
        <mapper resource="mappers/userMapper.xml"/>
        <mapper resource="mappers/accountMapper.xml"/>
        <mapper resource="mappers/roleMapper.xml"/>
    </mappers>
</configuration>